
        
        <div class="row" style="">
            <div class="col-lg-12 animated shake " style="text-align: center;" >
               
                        <h1 class="text-center">Licence d'utilisation périmée, Veuillez contacter votre fournisseur</h1>
                        <img style="display: block; margin: auto;" src="{{asset('img/access-denied.png')}}" />
                   
				{# <a href="{{path('app_pub_site_user_home')}}" class="btn btn-red btn-return">
                            Retour à l'accueil
                        </a>#}
            </div>
        </div>
 
