{% extends "adminUserBundle::layoutMenu.html.twig" %}
{% block title %}Home  {% endblock %}
{% block page %}


    <section class="wrapper">            
        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-laptop"></i> TABLEAU DE BORD </h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="{{sessionData.homeUrl}}">Home</a></li>
                    <li><i class="fa fa-laptop"></i>Tableau de bord</li>						  	
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-body">
                        <h3>Liste des fichiers</h3>
                    </div>
                </section>

            </div>
        </div>
    </section>
{% endblock %}